* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    --backdarker: #414140;
    --backlighter: #b0b0b0;
    --backdarker2: #292929;
    --mainColor1: #9acd32;
    --mainColor2: #0eceeb;
    --semiColor1: #21ced1;
    --semiColor2: #7ccd59;
    --semiColor3: #4fcd94;
    background-color: var(--backdarker);
}

/* font-family: 'Ubuntu', sans-serif; */

/* header */

header {
    position: relative;
    background-image: linear-gradient(-45deg, var(--mainColor1), var(--mainColor2));
    height: 100vh;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

header>* {
    position: absolute;
}

header img {
    width: 100%;
    bottom: 0;
    left: 0;
}

header img.logo {
    width: 42%;
    top: unset;
    left: unset;
    bottom: 20%;
    right: 8%;
}

@keyframes floater {

    0% {
        bottom: 20%;

    }

    20% {
        bottom: 14%;

    }

    40% {
        bottom: 17%;

    }

    60% {
        bottom: 12%;

    }

    80% {
        bottom: 16%;

    }

    100% {
        bottom: 20%;

    }

}

@keyframes shaker {
    0% {

        right: 8%;
        transform: scale(1);
    }

    20% {
        transform: scale(1.01) rotate(-1deg);
        right: 9%;
    }

    40% {
        transform: scale(1.03) rotate(1deg);

        right: 7%;
    }

    60% {
        transform: scale(1.01) rotate(0deg);

        right: 8%;
    }

    80% {
        transform: scale(.96) rotate(2deg);
        right: 6%;
    }

    100% {
        transform: scale(1);
        right: 8%;
    }
}

header div.welcome {
    left: 12%;
    bottom: 34%;
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    z-index: 1;
}

header h1 {
    margin-top: 15px;
    font-size: .7em;
}

header h2 {
    font-size: .5em;
    font-weight: normal;
}

/* portfolio */

.portfolio {
    background-color: #414140;
    text-align: center;
}


.portfolio .project {
    display: flex;
    margin: 0 auto 30px;
    max-width: 1400px;
    position: relative;
    z-index: 0;
    /* overflow: hidden; */
}

.portfolio .project:nth-of-type(odd) {
    background-color: var(--semiColor2);
    border-radius: 0 20px;
}


.portfolio .project:nth-of-type(even) {
    background-color: var(--semiColor1);
    flex-direction: row-reverse;
    border-radius: 20px 0;
}

.portfolio .project:last-of-type {
    margin-bottom: 0px;
}

.portfolio .project:nth-of-type(even) .about {
    text-align: right;
    margin-right: 0;
}


.portfolio .web {
    width: 50%;
    background-color: #b0b0b0;
    height: 500px;
    position: relative;
    border-radius: 20px;
}


.portfolio .web img {
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}


.portfolio .web::before {
    content: "";
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 10px;
    background-color: var(--backdarker);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio .about {
    color: white;
    font-weight: normal;
    padding: 10px 20px 20px 20px;
    text-align: left;
    width: 50%;
}

.portfolio .about h2 {
    font-size: 28px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 6px;
    /* margin-left: 20px; */
    text-transform: uppercase;
}

.portfolio .about p {
    font-size: 18px;

}

/* section skills*/

section {
    min-height: 30vh;
}

.skills {
    margin-top: 50px;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
}

.skills_wrapper {
    display: flex;
}

.skill {
    flex-basis: 33%;
    border-radius: 20px;
    flex-grow: 1;
    color: white;
}

.skill:nth-of-type(1) {
    background-color: var(--semiColor1);
}

.skill:nth-of-type(2) {
    background-color: var(--semiColor3);
    margin: 0 10px;
}

.skill:nth-of-type(3) {
    background-color: var(--semiColor2);
}

.skill h1 {

    font-size: 26px;
    margin-bottom: 15px;
}

.skill h2 {

    font-size: 26px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skill p {

    font-size: 16px;
    font-weight: 300;
    margin: 20px 20px;
}

.skills img {
    width: 50%;
    margin: 40px;
    max-width: 375px;
}

/* about_me */

.about_me {
    position: relative;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    color: #414140;
    z-index: 0;
}

.about_me .wrap {
    padding: 100px 60px;
    background-image: linear-gradient(-45deg, #9acd32 30%, #0eceeb 70%);
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    border-radius: 20px;
}

.about_me h1 {

    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about_me p {
    font-size: 20px;
}

.about_me p.author {
    font-size: 14px;
    margin-top: 12px;
}

/* contact */

/* .contact {
    background-color: #414140;
} */

.contact h1 {

    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.contact .wrap {
    max-width: 1024px;
    margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    height: 40px;
    padding: 5px;
    background-color: var(--backlighter);
    text-transform: uppercase;
}

.contact input {
    font-size: 12px;
    border: 2px solid var(--semiColor1);
    transition: .2s;
}

.contact input:focus {
    border-radius: 10px;
    outline: none;
    border: 4px solid var(--semiColor2);
}

.contact textarea {
    height: 120px;
    border: 2px solid var(--semiColor1);
    transition: .2s;
}

.contact textarea:focus {
    border-radius: 10px;
    outline: none;
    border: 4px solid var(--semiColor2);
}

.contact button {
    text-align: center;
    width: 40%;
    display: block;
    padding: 0;
    font-size: 18px;
    line-height: 36px;
    border-radius: 8px 0;
    background-color: #b0b0b027;
    ;
    /* background-image: linear-gradient(-45deg, var(--backdarker), var(--backlighter)); */
    background-size: 200% 100%;
    color: white;
    border: 2px solid white;
    transition: .4s;
    z-index: 5;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.contact button::after {
    content: "";
    bottom: -100%;
    left: -10%;
    width: 120%;
    height: 0;
    position: absolute;
    background-image: linear-gradient(-45deg, var(--mainColor1), var(--mainColor2));
    opacity: 0.6;
    /* border-radius: 8px 0; */
    z-index: -10;
    transition: .4s;
    transform: rotate(-10deg);
}

.contact button::before {
    content: "";
    top: -100%;
    left: -10%;
    width: 120%;
    height: 0;
    position: absolute;
    background-image: linear-gradient(-45deg, var(--mainColor1), var(--mainColor2));
    opacity: 0.6;
    /* border-radius: 8px 0; */
    z-index: -10;
    transition: .4s;
    transform: rotate(-10deg);
}

.contact button:hover::after {
    opacity: 1;

    height: 200%;
}

.contact button:hover::before {
    opacity: 1;
    height: 200%;
}

/* footer */

footer {
    background-image: linear-gradient(-45deg, #9acd32, #0eceeb);
    color: white;

    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    max-width: 1920px;
}

/* extras */

section .section_name {
    padding-top: 10vh;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    margin: 50px 0;
    margin-top: calc(-10vh + 50px);
}


.triangles::after {
    content: "";
    position: absolute;
    z-index: 10;

    top: -2px;
    left: -2px;

    border-left: 100px solid #414140;
    border-bottom: 100px solid transparent;
}

.triangles::before {
    content: "";
    position: absolute;
    z-index: 10;

    right: -2px;
    bottom: -2px;

    border-right: 100px solid #414140;
    border-top: 100px solid transparent;
}

.trianglesRev::after {
    content: "";
    position: absolute;
    z-index: 10;

    top: -2px;
    right: -2px;

    border-right: 100px solid #414140;
    border-bottom: 100px solid transparent;
}

.trianglesRev::before {
    content: "";
    position: absolute;
    z-index: 10;

    left: -2px;
    bottom: -2px;

    border-left: 100px solid #414140;
    border-top: 100px solid transparent;
}

.trianglesLightLeft::after {
    content: "";
    position: absolute;
    z-index: 3;

    top: 9px;
    left: 9px;

    border-left: 100px solid var(--backlighter);
    border-bottom: 100px solid transparent;
}

.trianglesLightRight::after {
    content: "";
    position: absolute;
    z-index: 3;

    top: 9px;
    right: 9px;

    border-right: 100px solid var(--backlighter);
    border-bottom: 100px solid transparent;
}

.gradient {
    background-image: linear-gradient(-25deg, var(--mainColor1), var(--mainColor2));
    background-attachment: fixed;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

div.wrapsor {
    overflow: hidden;
    max-width: 100%;
}

div.content_wrap {
    padding: 0 10px;
}

@media (orientation: portrait),
(max-width: 600px) {

    /* header  {
        height: 90vh;
        top: 10vh;
    } */

    header div.welcome {
        left: unset;
        right: 9%;
        bottom: 10%;
        color: white;
        font-size: 52px;
        font-weight: bold;
        text-align: right;
        text-transform: uppercase;
        z-index: 1;
    }

    header img.logo {
        width: unset;
        height: 60vh;
        top: 16%;
        left: 0;

        bottom: unset;
        right: unset;
        transform: translateX(-50%);

    }


    header h2 {
        margin-top: 10px;
    }

    .portfolio .project:nth-of-type(odd) {
        flex-direction: column;
    }


    .portfolio .project:nth-of-type(even) {
        flex-direction: column;
    }


    .portfolio .web {
        width: 100%;
        height: 300px;
    }

    .portfolio .web img {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 15;
    }


    /* .portfolio .web::after {
        content: "";
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border-radius: 10px;
        background-color: var(--backdarker);
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */

    .portfolio .about {
        padding: 20px 40px 40px 40px;
        text-align: left;
        width: 100%;
    }


    .portfolio .about p {
        font-size: 16px;

    }

    .skills_wrapper {
        flex-direction: column;
    }

    section .section_name {
        font-size: 40px;

    }

    .skill:nth-of-type(2) {
        background-color: var(--semiColor3);
        margin: 20px 0;
    }

    .triangles::after {
        top: -2px;
        left: -30px;
    }

    .triangles::before {
        right: -30px;
        bottom: -2px;
    }

    .trianglesRev::after {
        top: -2px;
        right: -30px;
    }

    .trianglesRev::before {
        left: -30px;
        bottom: -2px;
    }

    .trianglesLightLeft::after {
        border-left: 66px solid var(--backlighter);
        border-bottom: 66px solid transparent;
        top: 9px;
        left: 9px;
    }

    .trianglesLightRight::after {
        top: 9px;
        right: 9px;
        border-right: 66px solid var(--backlighter);
        border-bottom: 66px solid transparent;
    }

    .portfolio .web::before {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }

    nav {
        /* display: none; */
        position: fixed;
        top: -32vh;
        left: 0;
        width: 100%;
        height: 40vh;

        background-attachment: scroll;
        z-index: 999;
        transition: .5s;

    }

    nav:hover {
        top: 0;
    }

    nav:hover>div.back {
        top: 0;
        filter: blur(6px);
    }

    nav ul {
        list-style: none;
        margin: 0 auto;
        z-index: 999999;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 1.6em;
        line-height: 2em;

        text-decoration: none;
        opacity: 0;
        transition: .8s linear;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav ul a {
        color: white;
        text-decoration: none;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav:hover ul {
        opacity: 1;

    }

    nav ul a:hover {
        color: var(--mainColor1);
        border-bottom: 2px solid currentColor;
    }


    nav div.back {
        margin-left: -10px;
        height: 40vh;
        width: 110%;
        background-image: linear-gradient(-45deg, var(--mainColor1), var(--mainColor2));
        /* background-attachment: fixed; */
        filter: blur(0px);
    }

    nav div.front {
        background-color: var(--backdarker2);
        height: calc(40vh - 4px);
        width: calc(100% + 6px);
        position: absolute;
        top: 0;
        left: 0;
    }


    nav div.front div.ico {
        /* background-color: red; */
        /* bottom: 14px; */
        top: 33vh;
        right: 6%;
        position: absolute;
        width: 7vw;
        height: 6vw;
    }

    nav div.front div.ico>div {
        transition: .8s .4s linear;
    }

    nav div.front div.ico>div:nth-child(1) {

        width: 0px;
        border-bottom: 0px solid white;
        border-left: 2vw solid transparent;
        border-right: 2vw solid transparent;
        margin: 0px auto;
    }

    nav div.front div.ico>div:nth-child(2) {
        /* bottom: 31px;
        right: 36px;
        position: absolute; */
        margin: 3px auto 3px;
        /* width: 26px; */
        width: 100%;
        /* background-color: white; */
        /* width: 20px;
        height: 20px; */
        border-bottom: 4px solid white;
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        /* transform: translateX(50%); */
    }

    nav div.front div.ico>div:nth-child(3) {
        /* bottom: 20px;
        right: 36px;
        position: absolute; */
        /* background-color: white; */
        /* width: 20px;
        height: 20px; */
        /* width: 26px; */
        width: 100%;
        margin: 3px auto;
        border-top: 7px solid white;
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        /* transform: translateX(50%); */
    }

    nav div.front div.ico>div:nth-child(4) {
        /* bottom: 8px;
            right: 36px;
            position: absolute; */
        /* background-color: white; */
        /* width: 20px;
            height: 20px; */
        width: 0px;
        border-top: 12px solid white;
        border-left: 2vw solid transparent;
        border-right: 2vw solid transparent;
        /* transform: translateX(50%); */
        margin: 3px auto;
    }

    nav:hover div.front div.ico>div:nth-child(1) {
        border-bottom: 12px solid var(--semiColor2);
        margin: 3px auto;
    }

    nav:hover div.front div.ico>div:nth-child(2) {
        border-bottom: 7px solid var(--semiColor3);
        margin: 3px auto;
    }

    nav:hover div.front div.ico>div:nth-child(3) {
        border-top: 4px solid var(--semiColor1);
    }

    nav:hover div.front div.ico>div:nth-child(4) {
        border-top: 0px solid var(--semiColor2);
    }


}

@media (orientation: landscape) {
    nav {
        /* display: none; */
        position: fixed;
        top: -32vh;
        left: 0;
        width: 100%;
        height: 40vh;

        background-attachment: scroll;
        z-index: 999;
        transition: .5s;

    }

    nav:hover {
        top: 0;
    }

    nav:hover>div.back {
        top: 0;
        filter: blur(6px);
    }

    nav ul {
        position: absolute;
        list-style: none;
        margin: 0 auto;
        z-index: 999999;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 2em;
        line-height: 1.6em;
        text-decoration: none;
        opacity: 0;
        transition: 2s linear;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }

    nav ul a {
        color: white;
        text-decoration: none;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        transition: .2s;
        letter-spacing: .1em;
    }

    nav:hover ul {
        opacity: 1;

    }

    nav ul a:hover {
        color: var(--mainColor1);
        border-bottom: 2px solid currentColor;
    }


    nav div.back {
        margin-left: -10px;
        height: 40vh;
        width: 110%;
        background-image: linear-gradient(-45deg, var(--mainColor1), var(--mainColor2));
        /* background-attachment: fixed; */
        filter: blur(0px);
    }

    nav div.front {
        background-color: var(--backdarker2);
        height: calc(40vh - 4px);
        width: calc(100% + 6px);
        position: absolute;
        top: 0;
        left: 0;
    }


    nav div.front div.ico {
        /* background-color: red; */
        /* bottom: 14px; */
        top: 32.2vh;
        right: 50%;
        position: absolute;
        width: 7vh;
        height: 6vh;
        transform: translateX(50%);
    }

    nav div.front div.ico>div {
        transition: .6s .4s linear;
    }

    nav div.front div.ico>div:nth-child(1) {

        width: 0px;
        border-bottom: 0px solid white;
        border-left: 1.8vh solid transparent;
        border-right: 1.8vh solid transparent;
        margin: 0px auto;
    }

    nav div.front div.ico>div:nth-child(2) {
        /* bottom: 31px;
        right: 36px;
        position: absolute; */
        margin: 4px auto;
        /* width: 26px; */
        width: 100%;

        border-bottom: .9vh solid white;
        border-left: 1vh solid transparent;
        border-right: 1vh solid transparent;
        /* transform: translateX(50%); */
    }

    nav div.front div.ico>div:nth-child(3) {
        width: 100%;
        margin: 4px auto;
        border-top: 1.7vh solid white;
        border-left: 1.4vh solid transparent;
        border-right: 1.4vh solid transparent;
        /* transform: translateX(50%); */
    }

    nav div.front div.ico>div:nth-child(4) {

        width: 0px;
        border-top: 2.2vh solid white;
        border-left: 1.8vh solid transparent;
        border-right: 1.8vh solid transparent;
        /* transform: translateX(50%); */
        margin: 4px auto;
    }

    nav:hover div.front div.ico>div:nth-child(1) {
        border-bottom: 2.2vh solid var(--semiColor2);
        margin: 4px auto;
    }

    nav:hover div.front div.ico>div:nth-child(2) {
        /* border-bottom: 10px solid var(--semiColor3); */
        border-bottom: 1.7vh solid var(--semiColor3);
        border-left: 1.4vh solid transparent;
        border-right: 1.4vh solid transparent;
        margin: 4px auto;
    }

    nav:hover div.front div.ico>div:nth-child(3) {
        /* border-top: 6px solid var(--semiColor1); */
        border-top: .9vh solid var(--semiColor1);
        border-left: 1vh solid transparent;
        border-right: 1vh solid transparent;
    }

    nav:hover div.front div.ico>div:nth-child(4) {
        border-top: 0px solid var(--semiColor2);
    }

}

@media (orientation: landscape) and (max-width: 1120px) {

    header div.welcome {
        left: 12%;
        bottom: 24%;
        color: white;
        font-size: 60px;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        z-index: 1;
    }
}

@media (orientation: landscape) and (min-width: 1399px) {

    header img.logo {
        animation: shaker 13s linear infinite 1s both, floater 17s linear infinite 1s both;
    }
}

@media (orientation: landscape) and (min-width: 1599px) {

    nav ul {
        font-size: 2.4em;
    }
}